h1 {
	font-family: 'Helvetica';
	font-weight: lighter;
	text-align: center;
	font-size: 80px;
	vertical-align: text-top;
	text-transform: uppercase;
}

#header{
margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
padding-top: 50px;
}

h3{
	text-align: center;
}

#places{
	list-syle-type: none;
	margin: 20px auto;
	height: 200px;
}

#places > li {
	margin: 5px auto;
}

/* #box1{
	background-color:#e2e2e2;
	border:1px solid #bdbdbd;
	margin:10 10 25px;
	overflow:hidden;
	padding:20px;
	-webkit-border-radius: 10px;
        border-radius: 10px; 
} */


#map {
    height: 500px;
}

#header {
	background-image: url("pharmacy-background.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	position: relative;
	cursor: default;

}

.menu{
	font-family: 'Helvetica';
	font-weight: lighter;
	margin-left: 30px;
	margin-right: 30px;
	width: 100%;
	display: inline-block;
}

input[type=text] {
	width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    margin-bottom: 25px;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

/* --------------- BUTTONS --------------*/
ul {
	list-style-type: none;
	text-align: center;
	padding: 10px;
	width: 100%;
	overflow: hidden;
}

li {
	margin-left: 35px;
	margin-right: 25px;
	margin-bottom: 300px;
    float: left;
}

li a {
	/*display: block;
	width: 100px;
	padding: 8px;
    background-color: #ccc; */

    display: block;
    color: #666;
    padding: 14px 16px;
    text-decoration: none;
}

/*li a:hover:not(.active) {
    -moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 4px;
		border: 4px;
		cursor: pointer;
		display: inline-block;
		font-weight: 400;
		height: 3.5em;
		line-height: 3.5em;
		padding: 0 2em 0 2.375em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		text-transform: uppercase;
		letter-spacing: 0.325em;
		font-size: 0.725em;
} */

li a.active {
    /* color: white;
    background-color: #4CAF50; */
    -moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 4px;
		/*border: 4px;
		border-color: #00A9D3; */
		cursor: pointer;
		display: inline-block;
		font-weight: 400;
		height: 3.5em;
		line-height: 3.5em;
		padding: 0 2em 0 2.375em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		text-transform: uppercase;
		letter-spacing: 0.325em;
		font-size: 0.725em;
}

li a.active:before {
	margin-right: 0.5em;
}

li a.active.fit {
	display: block;
	margin: 0 0 1em 0;
	width: 100%;
}

li a.active.big {
	font-size: 0.8em;
			padding: 0 2.5em 0 2.875em;
			height: 3.75em;
			line-height: 3.75em;
}

li a.active:disabled {
	-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			opacity: 0.25;
}

li a.active {
	background-color: transparent;
	box-shadow: inset 0 0 0 1px #d5deed;
	color: #444444 !important;
}

li a.active:hover {
	color: #EF6480 !important;
	box-shadow: inset 0 0 0 2px #EF6480;
}

li a.active:active {
	background-color: rgba(239, 100, 128, 0.15);
}

#icon {
	background-image: url("medicon.png");
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px;
}

h2 {
	color: /*#4CAF50*/ #00A9D3;
	font-size:30px;
	font-family: 'Helvetica';
	font-weight: lighter;
	text-align: center;
	margin-top: 70px;
	margin-left: 300px;
	margin-right: 300px;
}

form {
	font-size: 20px;
	font-family: 'Helvetica';
	font-weight: lighter;
	margin-left: 300px;
	margin-right: 300px;
}

#radio {
	margin-bottom: 30px;
}

input[type="radio"]{
  margin: 10px 10px 10px 10px;
}



input[type=submit] {
    padding:5px 15px; 
    background: #00A9D3; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 100%;
}

p {
	font-size:15px;
	font-family: 'Helvetica';
	font-weight: lighter;
	margin-left: 300px;
	margin-right: 300px;
	margin-bottom: 40px;
}

h3 {
	font-size:15px;
	font-family: 'Helvetica';
	font-weight: lighter;
	margin-left: 300px;
	margin-right: 300px;
	margin-bottom: 3px;
}

h4 {
	text-align: left;
	font-size:15px;
	font-family: 'Helvetica';
	font-weight: normal;
	margin-left: 300px;
	margin-right: 300px;
	margin-bottom: 3px;
}