h1 {
	font-family: 'Lato';
	text-align: center;
	font-size: 2em;
	
}

h2 {
	color: black;
	font-size:30px;
	font-family: 'Helvetica';
	font-weight: lighter;
	margin-left: 30px;
}


input[type=text] {
	width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    margin-bottom: 25px;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 30px;
	width: 60px;
}

li a {
	display: block;
	width: 60px;
}

form {
	font-size: 20px;
	font-family: 'Helvetica';
	font-weight: lighter;
	margin-left: 30px;
}