h1 {
	font-family: 'Helvetica';
	font-weight: lighter;
	text-align: left;
	margin-left: 30px;
	font-size: 60px;
}

.menu{
	font-family: 'Helvetica';
	font-weight: lighter;
	margin-left: 30px;
	margin-right: 30px;
	width: 100%;
	display: inline-block;
}

input[type=text] {
	width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    margin-bottom: 25px;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100px;
	overflow: hidden;
}

li {
    float: left;
}

li a {
	/*display: block;
	width: 100px;
	padding: 8px;
    background-color: #ccc; */

    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

h2 {
	color: #4CAF50;
	font-size:30px;
	font-family: 'Helvetica';
	font-weight: lighter;
	margin-left: 30px;
	margin-right: 30px;
}

form {
	font-size: 20px;
	font-family: 'Helvetica';
	font-weight: lighter;
	margin-left: 30px;
}

input[type=submit] {
    padding:5px 15px; 
    background:#d9f3f4; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 100%;
}

p {
	font-size:15px;
	font-family: 'Helvetica';
	font-weight: lighter;
	margin-left: 30px;
	margin-right: 30px;
}